[submodule "mentohust"]
	path = mentohust
	url = https://github.com/KumaTea/MentoHUST-SYSU-OpenWrt
[submodule "luci-app-mentohust"]
	path = luci-app-mentohust
	url = https://github.com/KumaTea/luci-app-mentohust
[submodule "minieap"]
	path = minieap
	url = https://github.com/KumaTea/minieap
