[submodule "custom/luci-app-mentohust"]
	path = custom/luci-app-mentohust
	url = https://github.com/KumaTea/luci-app-mentohust
[submodule "custom/mentohust"]
	path = custom/mentohust
	url = https://github.com/KumaTea/MentoHUST-SYSU-OpenWrt
[submodule "custom/minieap"]
	path = custom/minieap
	url = https://github.com/KumaTea/openwrt-minieap
